.companies {

    margin-top: 121px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 165px;
        height: 49px;
    }

    .ibm img {
        transform: translateY(-40px);
        width: 400px;
        height: 150px;
    }

    .ibm img {

        transform: translate(-60px, -50px);
    }

    .microsoft img {
        transform: translateX(-120px);
    }

    .Packard img {
        transform: translateX(-10px);
    }

    .vector img {
        transform: translateX(60px);
    }

}