.section-two {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;


    h1 {
        width: 311px;
        margin-top: 186px;
        font-size: 28px;
        line-height: 35px;
        text-align: center;
        color: #4C545C;
    }
    p{
        width: 310px;
        margin-top: 16px;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #9EABB2;  
    }
    img{
        margin-top:64px ;
    }

}